:root{--text-0: #0f222d;--text-1: #3c5966;--bg-0: #f7fbfb;--bg-1: #e6f3f0;--primary-color: #004e64;--secondary-color: #00a5cf;--tertiary-color: #25a18e;--accent-color: #9fffcb;--highlight-color: #7ae582;--hover-color: #9fffcb}
